[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
setuptools = "*"
wheel = "*"

[packages]
"pyqt5-sip" = "*"
sip = "*"
"pyqt5" = "*"

[requires]
python_version = "3.6"
